/*https://colorhunt.co/palette/201830*/

body{

    background-color:#E5E5E5;
    color:#3c5f8c;
    font-family: "Ink Free";
    font-size: 20px;
}

h1{

    color:#ea5455;
}

h3{

     color:#ea5455;
 }